body {
  margin: 0;
  font-family: Calibre-Regular;
  font-size: 21px;
  font-weight: normal;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: Left;
  line-height: 30px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
